.selected {
  display: flex;
  align-items: center;

  color: var(--teal-9);
  font-weight: 500;

  gap: 4px;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  min-width: 24px;
  height: 24px;
  font-size: 12px;
  border-radius: 50%;
  border: 1px solid var(--teal-9);
  font-weight: 700;
}
